INTDIR Review

```
## Section 1

Two sentences appear to contradict each others:

- `A UUID is 128 bits long and requires no central registration process`
- `In addition, a global registration function is being provided by the
Telecommunications Standardization Bureau of ITU-T`

## Section 2

Should there be an informative reference to `IEEE 802 node identifiers` ?

## Section 2.1

What is the impact of randomised MAC address (cfr MADINAS WG and IEEE work) on
bullet 4. Should this randomised MAC address be mentioned in the text ?

## Section 5.1

Why only IEEE 802.3 LAN what about 802.11 or 802.15.4 ? Should the text be
relaxed ?

## Section 8

Should privacy be added in `MAC addresses pose inherent security risks ` ?

# NITS

## Section 3.3

The usual wording is more like `Note to RFC Editor: This section needs to be
removed before publication as RFC`.

## Sections C.1 & C.5

Please use a documentation MAC address per section 2.1.2 of RFC 7042. *IF* the
node is assumed to be a MAC address.
```

Sections Section 3.3 and Sections C.1 & C.5 comments can be disregarded. No change required after further discussion.

Note: the last item about C.1 and C.5 won't be needed since the leading text of Appendix C states this data is not a MAC but rather randomized data.
> Both UUIDv1 and UUIDv6 utilize the same values in clock_seq, and node. All of which have been generated with random data.

Also, on this item:
> The usual wording is more like `Note to RFC Editor: This section needs to be removed before publication as RFC`.
The text being used is from the Kramdown template item "{:removeinrfc}" and is generated automatically by author-tools.ietf.org when converting to XML/TXT/HTML.


In regards the "global registration function is being provided by the Telecommunications Standardization Bureau of ITU-T":

Actually, ITU-T had a registration function for **_UUID-OIDs_** (2.25.xx) long time ago. But since there is a 1:1 relation between UUID and UUID-OID, we can say that the registration function also applied to UUIDs.

However, the registration function is deprecated and not used today. Long time ago, UUID-OID created at the ITU-T website had to be registered at oid-info.com. Nowadays, oid-info.com do not accept UUID-OIDs anymore, and ITU-T has dropped the rule that UUID-OID must be registered.

Hi, I don't know if we need to be backwards compatible for EUI-48 based UUIDs, but if we don't, then I suggest upgrading 16-bit, and 48-bit OUIs to the 64-bit equivalents, and then use that.   Well, I can't find a way to turn 16-bit ones into 64-bit, and I question if 16-bit mac addresses, which are dynamically assigned in 802.15.4 networks have any entropy at all.

@danielmarschall, interesting points! 
> the registration function is deprecated and not used today. 
I assume it would be safe to simply remove the line to avoid the contradiction.
 
---

@mcr, I think in terms of the MACs, it is worth discussing randomized MAC in that it is something I would say is acceptable "if a MAC must be used at all". e.g Random Data > Random MAC > Static MAC

EUI-48 vs EUI-64, keep in mind where the MAC is used within v1/v6 for `node` the space is 48 bits.
I think it would be easy enough to keep 48 and put a one liner about obtaining 48 bits from the 64  which should also 802.15.4 which use EUI-64 right [1]. (I wasn't able to find anything about 16-bit mac.)

I also found how one could convert from 48 to 64 [2][3], I assume if FFFE is in play one could undo this conversion to get the 48 bit option. _I am not sure if there are EUI-64 MACs without FFFE..._ but in a scenario where it was not converted use left-most 48 bits?

---

[1] https://en.wikipedia.org/wiki/MAC_address#Applications
[2] https://networkengineering.stackexchange.com/a/30864
[3] https://community.cisco.com/t5/networking-knowledge-base/understanding-ipv6-eui-64-bit-address/ta-p/3116953

802.15.4 has two formats for the L2 frame: one has 2x 64-bit slots and the other has two 2x 16-bit slots.
(Actually there are mixes too).  16-bits are not assigned in any random way, so let's ignore them.
If we are mixing the 48-bits in LITERALLY, then I agree: just truncate and take lower 48.
I thought it was going through a PRF for some reason.


Yes, there are 64-bit MACs without the FFFE.  

(Found a missing fullstop)
Section 5.1.   `s/unique identifier Occupies bits/unique identifier. Occupies bits`


@mcr, so with this logic my changes to text include the following topics for MAC:s
- Support EUI-48 based Support (e.g 802.3 and 802.11)
- Support 48 Bit MACs derived from EUI-64 (Either by unwinding FFFE types or grabbing least-significant, right-most 48 bits)
- Support for 802.15.4 16-bit MACs is out of scope, use some psuedorandom value in section 6.9 instead
- Where randomized MACs are concerned; Supported and encouraged over static MAC but pseudorandom is better.
- Section 8, explicitly call out Privacy in MAC section. 
- Cite all these 802.3/11/15 topics as informative references. 

Alternative, as I slept on this, on the non-EUI-48 topic, since we really don't want folks using MACs. 
Giving more options to use a MAC could go against this... we could simply state that "Only specifications using EUI-48 MACs are supported (802.3/802.11) and those using other types such as EUI-64 or 802.15.4 are out of scope. Instead implantations should follow what is outlined in section 6.9 to obtain a 48 bit pseudorandom value instead" 

Any idea if "IEEE 802 node identifiers" is covered in either of these changes. I am not familiar with this.

> Alternative, on the non-EUI-48 topic, since we really don't want folks using MACs.

I personally like using my MAC address in my UUIDs. It allows me to give the UUIDs some kind of "signature", and I can easily see if these UUIDs are mine or not. I think you should leave the decision to the developers/users if they want to use a real MAC or a pseudo-random MAC, by using the unicast/multicast bit as defined in section 6.9.

If you do not mind my presence in this thread...

There must be some text about 16-bit and 64-bit MAC address. This can be as simple as "16-bit address MUST not be used, the least significant 48 bits of a 64-bit MAC address MUST be used".

As a side note, the bit that you want to flip is not unicast/multicast but probably local/global.

-éric


> As a side note, the bit that you want to flip is not unicast/multicast but probably local/global.

Yes, local/global would be the more correct one, but unfortunately, for backwards compatibility I guess it needs to stay unicast/multicast


Took a pass at updating the text in commit: https://github.com/ietf-wg-uuidrev/rfc4122bis/commit/bd1f37c5b5c1ac1b40105275b15fccefaf97f705. 
Let me know if this encompass all of the changes @mcr, @danielmarschall, @evyncke 

There is written:  "For systems with no IEEE address or utilizing an IEEE 802.15.4 16 bit address, a randomly or pseudo-randomly
generated value may be used" . Shouldn't it be "MUST be used" (since we cannot use the 16 bit address in a 48 bit field) ?

@danielmarschall, yeah, modified them in https://github.com/ietf-wg-uuidrev/rfc4122bis/commit/e33e137c0738dc59b495003526ffc015e9bc3a0e

https://datatracker.ietf.org/doc/html/rfc4944#section-6 explains how to do things with 16-bit MACs, but in general, I'm quite happy with your text.