Better Clarify Case in ABNF

In section 4 after the ABNF for textual representation of UUIDs it says:
> An example UUID using this textual representation from the above ABNF is shown in Figure 1. Note that in this example the alphabetic characters may be all uppercase, all lowercase, or mixed case, as per [RFC5234], Section 2.3 

I find this confusing. It isn’t just in the example that alphabetic characters may be upper, lower, or mixed case – it is true for all text representations of UUIDs. I suggest changing it to
> Note that the alphabetic characters may be all uppercase, all lowercase, or mixed case, as per [RFC5234], Section 2.3. 
> An example UUID using this textual representation from the above ABNF is shown in Figure 1. 

From: Paul Leach <pauljleach@msn.com>
