DNSDIR re-review: Better Define "a canonical sequence of octets"

```
Reviewer: Geoff Huston
Review result: Ready with Issues

I have been selected as the DNS Directorate reviewer for this draft. The DNS Directorate seeks to review all DNS or DNS-related drafts as they pass through IETF last call and IESG review, and sometimes on special request. The purpose of the review is to provide assistance to the ADs.
For more information about the DNS Directorate, please see https://wiki.ietf.org/en/group/dnsdir

This document references the DNS as one of multiple possible name spaces for Name-Based UUID Generation. It has no considerations that reflect on the DNS.

Previous iterations of this draft have been reviewed by the DNS Directorate for the -08 [1]  and -09 [2] versions of this draft.

The changes between -09 and -10 address specific comments from the ATART review and make some clarifying changes to the document which do not appear to have a substantive impact on the specification.

Issue:

I would like to note that the issues noted in the DNSDIR -08 review [1], namely:

  "Section 5.3, 5.5 and 6.5 refer to "a canonical sequence of octets in
   network byte order". It is not specified what that canonical sequence
   is nor is there a reference to a document that specifies the canonical
   sequence for any of the name spaces."

and 

  "Section 6.5 also has this:
     *  UUIDs generated at different times from the same name in the same
        namespace MUST be equal."
        
do not appear to have been resolved in -09 or -10 versions of this document.

The suggestions made in the -08 review on how to to resolve this issue appears not to have been resolved in any tangible manner in the subsequent document versions


Geoff Huston

[1] https://datatracker.ietf.org/doc/review-ietf-uuidrev-rfc4122bis-08-dnsdir-lc-obser-2023-07-26/
[2] https://datatracker.ietf.org/doc/review-ietf-uuidrev-rfc4122bis-09-dnsdir-lc-obser-2023-08-04/
```

Thread: https://mailarchive.ietf.org/arch/msg/uuidrev/hFiEUoa4BIQ_VGO5HX5kV18BIEE/

Replied via email here: https://mailarchive.ietf.org/arch/msg/uuidrev/njBLWEdlHpp_nZu1MrT9_1rpPzI/

Will update this thread with any changes that are needed.

Major issue is around “canonical” verbiage from RFC4122 as per Geoff:

```
It looks like you have taken the text in section 4.3 of RFC4122 

"Convert the name to a canonical sequence of octets (as defined by the standards or conventions of its name space); put the name space ID in network byte order.”

and rephrased it in this draft.

My question remains - what is a “canonical” sequence of octets? Or even its opposite - what is a sequence of octets that is NOT “canonical”?

In a standards document it seems reasonable to ask for extremely clear specifications, and I just don’t understand what you are getting at with the use of the term “canonical” here.
```

My suggestion: https://mailarchive.ietf.org/arch/msg/uuidrev/uEIwBdg24NGF9MCuOiqQdtzjlqc/

```
Personally, I have never been a fan of "canonical" verbiage in the original document, so I suggest we remove it from the text.
>From what I can see "canonical" usage is just a fancy way of saying "Select a Name value formatted as per the underlying specs usual representation format". Sources: [1][2][3].

For example in UUIDv3, with "canonical" removed, the text would say:
> UUIDv3 values are created by computing an MD5 [RFC1321] hash over a given name space value concatenated with the desired name value after both have been converted to a sequence of octets in network byte order.

Then I can add a line above the Appendix callout for Namespaces with guidance on how to select said name value and representation from an underlying spec when there are many to choose from.

> Information around selecting a desired name value's representation/conveyance format within a given name space can be found in section 6.5, "A note on names".
> Some common namespace values have been defined via Appendix A.

Then repeat this for UUIDv5 and remove "canonical" from the v8 callout in 6.5.

Finally, update the line about names and namespaces being equal to state to include a line about the representation format.
> The UUIDs generated at different times from the same name (using the same name representation/conveyance format) in the same namespace MUST be equal.

Define "canonical":
[1] https://www.gnu.org/software/libc/manual/html_node/Byte-Order.html
[2] https://en.wikipedia.org/wiki/Canonicalization
[3] https://en.wikipedia.org/wiki/Canonical_form
```

Will create a PR for this since Geoff agreed to these changes: https://mailarchive.ietf.org/arch/msg/uuidrev/MPSDMazoe6ObYcG02xfi3aQqJsk/

Alternative from Paul Leach, also okay'd by Geoff:

> A canonical sequence of octets is one that conforms to the specification for that name form's canonical representation. A name can have many usual forms, only one of which can be canonical. Implementers of new namespaces for UUIDs need to use the specification for the canonical form of names in that space, or define such a canonical for the name space if it does not exist.

Re-add the "as defined by the standards or conventions of its namespace" 

> a canonical sequence of octets, as defined by the standards or conventions of its namespace, in network byte order.

> a canonical sequence of octets (as defined by the standards or conventions of its namespace) in network byte order.