Errata: Change MD5 website to example.com | 3476

### Errata ID: [3476](https://www.rfc-editor.org/errata/eid3476)
- Status: Verified
- Type: Editorial
- Publication Format(s) : TEXT
- Reported By: Simon Kissane
- Date Reported: 2013-02-02
- Verifier Name: Barry Leiba
- Date Verified: 2013-02-03

### Errata
Section Appendix A,B says:

```
In Appendix A, the line:
    uuid_create_md5_from_name(&u, NameSpace_DNS, "www.widgets.com", 15);
In Appendix B, the line:
     uuid_create_md5_from_name(): e902893a-9d22-3c7e-a7b8-d6e313b71d9f
```

It should say:

```
In Appendix A, the line:
    uuid_create_md5_from_name(&u, NameSpace_DNS, "www.example.com", 15);
In Appendix B, the line:
     uuid_create_md5_from_name(): 5df41881-3aed-3515-88a7-2f4a814cf09e
```

### Notes:

Per RFC2606 section 5, it is best practice for standards and other documentation (including RFCs) to use the reserved example domains (e.g. example.com) rather than domains which could be in actual use. Indeed, the domain in question (www.widgets.com) is in actual use at the time of writing. So this proposed change uses "www.example.com" instead, and changes the example output accordingly. (Note that original output was wrong for the original input, as already noted in verified errata 1352.)